.card {
  background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  color: #fff;
  width: 80%;
  max-width: 600px;
  padding: 30px;
  margin: 50px auto;
  border-radius: 16px;
  box-shadow: 
    0 0 10px rgba(102, 51, 255, 0.5),
    0 0 20px rgba(102, 51, 255, 0.3),
    0 0 30px rgba(102, 51, 255, 0.1);
  border: 1px solid rgba(102, 51, 255, 0.3);
}

.header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(102, 51, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 5px rgba(102, 51, 255, 0.7);
}

.mainInfo {
  font-size: 45px;
  font-weight: 600;
  color: #00ffcc;
  text-shadow: 0 0 10px rgba(0, 255, 204, 0.7);
}

.weatherGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.weatherItem {
  background: rgba(30, 30, 60, 0.5);
  padding: 13px;
  border-radius: 12px;
  border: 1px solid rgba(102, 51, 255, 0.3);
  box-shadow: 0 0 10px rgba(102, 51, 255, 0.2);
}

.label {
  font-size: 17px;
  color: #a0a0ff;
  margin-right: 5px;
}

.value {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

@media (max-width: 600px) {
  .card {
    padding: 10px;
    margin: 50px auto;
  }
  
  .header {
    flex-direction: column;
  }
  
  .weatherGrid {
    grid-template-columns: 1fr;
  }
}